<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">



  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <!-- Mapbox -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
  <!-- Geocoder -->
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'>
  </script>
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css'
    type='text/css' />

  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/styles.css">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/020c2ee992.js" crossorigin="anonymous"></script>

  <title>Jön Finder</title>
</head>


<div id="logo">
  <a href="/">
    <h1>J<span>ö</span>n</h1>
  </a>
</div>

<div class="container-fluid mb-5">



  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox" />


      <i id="hamb" class="fas fa-toilet-paper fa-2x"></i>



      <ul id="menu">
        <a href="/">
          <li>Home</li>
        </a>

        <a href="/submit">
          <li>Submit Bathrooms</li>
        </a>
        <a href="/about">
          <li>About</li>
        </a>
        <a href="https://github.com/JohnEBabinJr/Project-2/" target="_blank">
          <li>Github</li>
        </a>

        </a>
      </ul>
    </div>
  </nav>
</div>



{{{body}}}



</body>

</html>