<div class="container mb-5 pb-5" id="about">

    <p class="alert alert-dark"><em>Thanks for contributing to our project!
            We're constantly trying to grow and we'd love to hear your feedback!</em>
        <button type="submit" class="btn btn-secondary btn-sm ml-4">

            <form method="post" action="mailto:fxtzhou@gmail.com">

                <input type="submit" value="Contact Us"
                    style="background-color: transparent; border: none; color: white;">
            </form>
        </button>
    </p>



    <hr class="my-4">
    <h2>The Jön Project</h2>


    <p>JÖNS is a bathroom finder and review app for everyone who needs to find a space to handle life's everyday
        emergencies. Upon page load there is a popup with instructions for the app's usage.

        Enter a location keyword or allow current location to be tracked to get started.</p>


    <hr class="my-4">
    <h4><em>(Fun fact: due to the "Ö" our app name can be read as 'Jon' or 'Jane')
        </em></h4>
    <hr class="my-4">

    <p>Simply put, our target audience is everyone. JÖNS evolved from our team's initial idea of creating an app for
        finding gender neutral bathrooms as our society becomes more aware of a demand for them. As we progressed in
        our
        development of the app, we realized that adding more search options in the form of filters could address a
        wider
        variety of situations that our users could encounter.
    </p>

    <p>The app is hosted by Heroku with [addons] using GET and POST routes to add new data. Our front end developer
        designed the site layout using Bootstrap and Materialize in order to be mobile and desktop friendly.

        <br>
        <h5>Javascript linter / travis checks for code quality</h5>
        <br>
        <p>
            Our intial database was populated manually by us through the app itself. Our intention was that when
            others
            use
            the app, they would assist in collecting a larger amount of data for everyone to use much like services
            such
            as
            Yelp.</p>
        <br>
        <h5>Sequelize</h5>
        <br>
        Our project requirements were to use \_\_\_
        <br>
        <p>
            The new technology that we used was <strong>Mapbox</strong> which we all researched in order to use it
            for
            our
            project. We used
            it for searching, geocoding, displaying map and pins.
        </p>
        The pages were linked using <strong>Handlebars</strong>


        <hr class="my-4">
        <h2>The Team</h2>
        <div class="card-group">
            <div class="card">
                <img src="../assets/img/fiona.jpg
" class="card-img-top" alt="fiona" height="200">
                <div class="card-body">
                    <h5 class="card-title">Fiona Zhou</h5>
                    <p class="card-text">Frontend

                    </p>
                    <a href="https://github.com/fxtzhou"><i class="fab fa-github-alt fa-2x"></i></a>

                </div>
            </div>
            <div class="card">
                <img src="../assets/img/connor.jpg
" class="card-img-top" height="200" alt="connor">
                <div class="card-body">
                    <h5 class="card-title">Connor Paxton</h5>
                    <p class="card-text">Backend
                    </p>
                    <a href="https://github.com/hippopattymus"><i class="fab fa-github-alt fa-2x"></i></a>

                </div>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/150
" class="card-img-top" alt="john" height="200">
                <div class="card-body">
                    <h5 class="card-title">John E. Babin</h5>
                    <p class="card-text">Backend</p>
                    <a href="https://github.com/johnebabinjr"><i class="fab fa-github-alt fa-2x"></i></a>
                </div>
            </div>
            <div class="card">
                <img src="../assets/img/lyn.jpg" alt="lyn" height="200">
                <div class=" card-body">
                    <h5 class="card-title">Lyn Tan</h5>
                    <p class="card-text">Boss</p>
                    <a href="https://github.com/lyntan"><i class="fab fa-github-alt fa-2x"></i></a>
                </div>
            </div>
        </div>


    </p>
</div>