<div class="container">
    <div class="row">
        <div class="col">

            <h4>Add New Bathroom</h4>
            <form class="create-form" action="/api/Jons" method="POST">
                <div class="form-group">
                    <i class="material-icons prefix">account_circle</i><label for="locationName">Location of
                        Bathroom:</label>
                    <input type="text" id="locationName" name="locationName" />

                    <i class="material-icons prefix">account_circle</i> <label for="streetaddress">Street
                        Address:</label>
                    <input type="text" id="streetaddress" />

                    <i class="material-icons prefix">account_circle</i> <label for="city">City:</label>
                    <input type="text" id="city" />

                    <i class="material-icons prefix">account_circle</i> <label for="state">State:</label>
                    <input type="text" id="state" />

                    <i class="material-icons prefix">account_circle</i> <label for="zipcode">Zip Code:</label>
                    <input type=" number" id="zipcode" />

                </div>



                <h5>Bathroom Details</h5>
                <div class="switch">
                    <i class="material-icons prefix">account_circle</i><label>

                        <input class="genderNeutral check" type="checkbox" value="false" name="genderNeutral">
                        <span class="lever"></span>

                    </label>
                    Gender Neutral
                </div>

                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input class="fChanging check" type="checkbox" name="fChanging">
                        <span class="lever"></span>

                    </label>
                    Baby Changing Station (F)
                </div>

                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input class="mChanging check" type="checkbox" name="mChanging">
                        <span class="lever"></span>

                    </label>
                    Baby Changing Station (M)
                </div>

                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input class="handicap check" type="checkbox" name="handicap">
                        <span class="lever"></span>

                    </label>
                    Handicap
                </div>

                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input class="itsLit check" type="checkbox" name="itsLit">
                        <span class="lever"></span>

                    </label>
                    Well-Lit
                </div>
                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input class="multiPly check" type="checkbox" name="multiPly">
                        <span class="lever"></span>

                    </label>
                    Multi-ply Toilet Paper
                </div>

                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input class="airDryer check" type="checkbox" name="airDryer">
                        <span class="lever"></span>

                    </label>
                    Air Dryer
                </div>



                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input class="alwaysOpen check" type="checkbox" name="alwaysOpen">
                        <span class="lever"></span>

                    </label>
                    Open 24 hours

                </div>


                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input class="sharps check" type="checkbox" name="sharps">
                        <span class="lever"></span>

                    </label>
                    Sharps Container

                </div>

                <div class="checkbox">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input class="cleanlinessRating" type="checkbox" name="cleanlinessRating">
                        <span class="lever"></span>

                    </label>
                    Cleanliness Rating

                </div>


                {{!-- <div class="switch" id="checkbox">
                    <label>
                        <input class="test" type="checkbox" data-toggle="toggle">
                        <span class="lever"></span>

                    </label>
                </div> --}}




                <div class="description" style="margin-top: 30px;">
                    <i class="material-icons prefix">account_circle</i><label for="description">Description</label>
                    <input type="text" name="description" />
                </div>


                <button class="btn waves-effect waves-light submitbtn" type="submit">Submit</button>

            </form>
        </div>
    </div>
</div>

<script>
    $(".check").on('change', function () {
        if ($(this).is(':checked')) {
            $(this).val('true');
        }
        else {
            $(this).val('false');
        }
    });

    $(".submitbtn").on("click", function () {
        var addressLine = $("#streetaddress").val();
        var city = $("#city").val();
        var state = $("#state").val();
        var zipCode = $("#zipcode").val();

        var querycall = "http://dev.virtualearth.net/REST/v1/Locations/US/" + state + "/" + zipCode + "/" + city + "/" + addressLine + "?maxResults=1&key=Ao1-VCDcAKZs7Cmk5770BFTlR8_gSj_IuvYegQKIRn_b8uBJlKMqfZqRt-viiNPw";
        $.ajax({
            url: querycall,
            method: "GET"
        }).then(function (response) {
            var coordinates = response.resourceSets[0].resources[0].point.coordinates;
            $.ajax("/api/Jons", {
                type: "POST",
                data: {
                    long: coordinates[1],
                    lat: coordinates[0]
                }
            }).then(function () {
                console.log("Posted to API");
            });
        });

        var address = addressLine + " " + city + " " + state + ", " + zipCode;
        console.log(address);

        $.ajax("/api/Jons", {
            type: "POST",
            data: {
                address: address
            }
        }).then(function () {
            console.log("Posted to API");
        });
    });
</script>