<div class="container">
    <div class="row">
        <div class="col">

            <h4>Add New Bathroom</h4>
            <form class="create-form" action="/api/Jons/" method="POST">
                <div class="form-group">
                    <i class="material-icons prefix">account_circle</i><label for="locationName">Location of
                        Bathroom:</label>
                    <input type="text" id="location" name="locationName" />

                    <i class="material-icons prefix">account_circle</i> <label for="address">Address:</label>
                    <input type="text" id="location" name="address" />
                </div>



                <h5>Bathroom Details</h5>
                <div class="switch">
                    <i class="material-icons prefix">account_circle</i><label>

                        <input type="checkbox">
                        <span class="lever"></span>

                    </label>
                    Gender Neutral
                </div>

                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input type="checkbox">
                        <span class="lever"></span>

                    </label>
                    Baby Changing Station (F)
                </div>

                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input type="checkbox">
                        <span class="lever"></span>

                    </label>
                    Baby Changing Station (M)
                </div>

                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input type="checkbox">
                        <span class="lever"></span>

                    </label>
                    Handicap
                </div>

                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input type="checkbox">
                        <span class="lever"></span>

                    </label>
                    Well-Lit
                </div>
                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input type="checkbox">
                        <span class="lever"></span>

                    </label>
                    Multi-ply Toilet Paper
                </div>

                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input type="checkbox">
                        <span class="lever"></span>

                    </label>
                    Air Dryer
                </div>



                <div class="switch">
                    <i class="material-icons prefix">account_circle</i>
                    <label>

                        <input type="checkbox">
                        <span class="lever"></span>

                    </label>
                    Open 24 hours

                </div>


                <div class="description" style="margin-top: 30px;">
                    <i class="material-icons prefix">account_circle</i><label for="address">Description</label>
                    <input type="text" id="location" name="address" />


                </div>

            </form>


            <button type="submit">Submit</button>


        </div>
    </div>
</div>