<div class="container">
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-lg-8">
            <h4>Thank you for contributing to our project! Your bathroom has been submitted, and one step
                closer to helping someone find their safe space to use.
            </h4>
            <h4>Learn more about us and why we're safe spaces are so important, and how our project helps make life
                easier for everyone.

            </h4>
            <div class="container mt-5">
                <button type="submit" class="btn btn-primary submitbtn"><a href="/about" style="color: white;">About
                        Us</a></button>



                <button type="submit" class="btn btn-primary submitbtn"><a href="/submit" style="color: white;">Submit
                        Another</a></button>
            </div>

        </div>

    </div>





</div>